.maindiv{
    background: #1E1E1E;
    width: 100vw;
    height: 600vh;
}
.heading{
   padding-top: 4rem;
    color: #FFF;
text-align: center;
text-shadow: 4px 4px 0px #C76BFF;
font-family: Cocogoose Pro;
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.img{
    width: 269.64099999999996px;
    display: flex;
    /* position: absolute; */
    position: relative;
    bottom: 83px;
    right: -246px;
    transform: rotate(352deg);
}
.subdiv1{
    border-radius: 21px;
background: #FFF;
width: 1314px;
height: 232px;
flex-shrink: 0;
}
.subdiv{
    display: flex;
}
.h3{
    color: #1E1E1E;
text-align: center;
font-family: Cocogoose Pro;
font-size: 61.907px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.h4{
    color: #1E1E1E;
font-family: Cocogoose Pro;
font-size: 41px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
    left: 500px;
    bottom: 20px;
}
.parts{
    display: flex;
    margin-top: 9rem;
    gap: 100px;
    flex-direction: column;
}
.svg{
    position: relative;
    right: -1002px;
    top: -130px;
}