@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-black-han-sans: "Black Han Sans";

  /* font sizes */
  --font-size-3xs-7: 9.7px;
  --font-size-4xl-6: 23.6px;
  --font-size-90xl-9: 109.9px;
  --font-size-32xl-1: 51.1px;
  --font-size-22xl-6: 41.6px;
  --font-size-49xl: 68px;
  --font-size-31xl-1: 50.1px;
  --font-size-53xl-2: 72.2px;
  --font-size-34xl-9: 53.9px;
  --font-size-19xl-7: 38.7px;
  --font-size-40xl-4: 59.4px;
  --font-size-base: 16px;
  --font-size-31xl-7: 50.7px;
  --font-size-55xl-1: 74.1px;
  --font-size-22xl-7: 41.7px;
  --font-size-43xl-3: 62.3px;
  --font-size-78xl-2: 97.2px;
  --font-size-72xl-3: 91.3px;
  --font-size-6xl-8: 25.8px;

  /* Colors */
  --color-gray-100: #1e1e1e;
  --color-gray-200: #181818;
  --color-gray-300: #16111d;
  --color-gray-400: rgba(19, 19, 19, 0.22);
  --color-gray-500: rgba(0, 0, 0, 0.2);
  --color-white: #fff;
  --color-mediumorchid: #c76bff;
  --color-mediumspringgreen: #00ffa3;
  --color-lightgray: #cbcbcb;

  /* border radiuses */
  --br-207xl-2: 226.2px;
  --br-90xl: 109px;
  --br-sm: 14px;
  --br-6xl: 25px;
  --br-31xl: 50px;
  --br-xs-2: 11.2px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-black-han-sans: "Black Han Sans";
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-22xl: 41px;
  --font-size-42xl-9: 61.9px;
  --font-size-77xl: 96px;
  --font-size-3xs-7: 9.7px;
  --font-size-4xl-6: 23.6px;
  --font-size-90xl-9: 109.9px;
  --font-size-32xl-1: 51.1px;
  --font-size-22xl-6: 41.6px;
  --font-size-49xl: 68px;
  --font-size-31xl-1: 50.1px;
  --font-size-53xl-2: 72.2px;
  --font-size-34xl-9: 53.9px;
  --font-size-19xl-7: 38.7px;
  --font-size-40xl-4: 59.4px;
  --font-size-base: 16px;
  --font-size-31xl-7: 50.7px;
  --font-size-55xl-1: 74.1px;
  --font-size-22xl-7: 41.7px;
  --font-size-43xl-3: 62.3px;
  --font-size-78xl-2: 97.2px;
  --font-size-72xl-3: 91.3px;
  --font-size-6xl-8: 25.8px;

  /* Colors */
  --color-gray-100: #1e1e1e;
  --color-gray-200: #181818;
  --color-gray-300: #16111d;
  --color-gray-400: rgba(19, 19, 19, 0.22);
  --color-gray-500: rgba(0, 0, 0, 0.2);
  --color-white: #fff;
  --color-mediumorchid: #c76bff;
  --color-mediumspringgreen: #00ffa3;
  --color-lightgray: #cbcbcb;

  /* border radiuses */
  --br-2xl: 21px;
  --br-207xl-2: 226.2px;
  --br-90xl: 109px;
  --br-sm: 14px;
  --br-6xl: 25px;
  --br-31xl: 50px;
  --br-xs-2: 11.2px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-black-han-sans: "Black Han Sans";

  /* font sizes */
  --font-size-72xl-3: 91.3px;
  --font-size-90xl-9: 109.9px;
  --font-size-lg: 18px;
  --font-size-lgi: 19px;
  --font-size-3xl: 22px;
  --font-size-112xl-7: 131.7px;
  --font-size-69xl: 88px;
  --font-size-3xs-7: 9.7px;
  --font-size-4xl-6: 23.6px;
  --font-size-32xl-1: 51.1px;
  --font-size-22xl-6: 41.6px;
  --font-size-49xl: 68px;
  --font-size-31xl-1: 50.1px;
  --font-size-53xl-2: 72.2px;
  --font-size-34xl-9: 53.9px;
  --font-size-19xl-7: 38.7px;
  --font-size-40xl-4: 59.4px;
  --font-size-45xl-4: 64.4px;
  --font-size-base: 16px;
  --font-size-31xl-7: 50.7px;
  --font-size-55xl-1: 74.1px;
  --font-size-22xl: 41px;
  --font-size-42xl-9: 61.9px;
  --font-size-77xl: 96px;
  --font-size-22xl-7: 41.7px;
  --font-size-43xl-3: 62.3px;
  --font-size-78xl-2: 97.2px;
  --font-size-6xl-8: 25.8px;

  /* Colors */
  --color-gray-100: #1e1e1e;
  --color-gray-200: #181818;
  --color-gray-300: #16111d;
  --color-gray-400: rgba(19, 19, 19, 0.22);
  --color-gray-500: rgba(0, 0, 0, 0.2);
  --color-mediumorchid: #c76bff;
  --color-white: #fff;
  --color-black: #000;
  --color-thistle: #e1c1f0;
  --color-mediumspringgreen: #00ffa3;
  --color-lightgray: #cbcbcb;

  /* Border radiuses */
  --br-6xl: 25px;
  --br-6xs: 7px;
  --br-207xl-2: 226.2px;
  --br-90xl: 109px;
  --br-sm: 14px;
  --br-2xl: 21px;
  --br-31xl: 50px;
  --br-xs-2: 11.2px;
}
